body{
    width:1440px;
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
}

:root{
    --bg:hsl(268, 75%, 9%);
}

.white-theme{
    --bg:white;
}
.container{
    width: 400px !important;
    background-color: white;
    
    padding: 20px;
}



input{
    padding: 0 !important;
    text-align: center;
    height: 50px;
    cursor: pointer;
}
 

.row{
    
    width: 350px;
    grid-gap: 10px;
    margin-bottom: 10px;
}